<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-8">
    <% if @user.microposts.any? %>
        <h4>Microposts (<%= @user.microposts.count %>)</h4>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<p> account oppened on <i><%= @user.created_at %></i>
  <br>
  last online on <i><%= @user.created_at %></i></p>

<p>Today is <i><%= Time.now %></i></p>
